<%- include("./include/header") -%>

    <div class="container mt-3">

        <!-- 사용자 정보 -->
        <div class="user-info">
            <p>사용자 : <%=username%> </p>
        </div>

        <div class="tab-container">

            <div class="tab-box">
                <div class="nav flex-row">

                    <table class="table table-border text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="border-right"><a class="nav-link <%= activeTab === 'home' ? 'active' : '' %>" href="/">Home</a></th>
                                <th scope="col" class="border-right"><a class="nav-link <%= activeTab === 'about' ? 'active' : '' %>" href="/tab/about">About</a></th>
                                <th scope="col" class="border-right"><a class="nav-link <%= activeTab === 'contact' ? 'active' : '' %>" href="/tab/contact">Contact</a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <div class="content-box">

                <% if (activeTab === 'home') { %>
                    <h2>Home Content</h2>

                    <div class="container">
                        <h3>일정 목록</h3>
                        <table class="table table-border text-center">
                            <tbody>
                                <% if(rows.length === 0 || null ){ %>
                                    <tr>
                                        <td colspan="4">일정이 없습니다</td>
                                    </tr>
                                <%} else {%>
                                    <% for(let i =rows.length-1; i>=0;i--){ %>
                                        <% let result = rows[i]; %>
                                        <% let location = result.title.split("-")[0] %>
                                        <form action="/" method="post">
                                            <tr>
                                                <td>
                                                    <p>일정: <%=result.title%></p>
                                                    <p>참가자: <%=result.pparticipants%></p>
                                                    <input type="hidden" name="scheduleId" value="<%=result.id%>"> 
                                                    <input type="hidden" name="scheduleTitle" value="<%=result.title%>"> 
                                                    <input type="hidden" name="participants" value="<%=result.pparticipants%>">
                                                    <a href="https://map.kakao.com/?q=<%=location%>" class="btn btn-secondary">장소</a>
                                                    <input type="submit" class="btn btn-primary" value="참가">
                                                </td>
                                            </tr>
                                        </form>
                                    <%}%>
                                <%}%>
                            </tbody>
                        </table>
                    </div>

                    <p>This is the home page content.</p>
                <% } else if (activeTab === 'about') { %>
                    <h2>About Content</h2>

                    <div class="container">
                        <h3>게시판 리스트</h3>
                        <table class="table table-border text-center">
                            <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">작성자</th>
                                    <th scope="col">제목</th>
                                    <th scope="col">작성일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(rows.length == 0){ %>
                                    <tr>
                                        <td colspan="4">게시글이 없습니다.</td>
                                    </tr>
                                    <%} %>
                                <% for(let i = 0; i<rows.length;i++) { %>
                                    <% let result = rows[i]; %>
                                
                                <tr>
                                    <td><%=i+1%></td>
                                    <td><%=result.writer%></td>
                                    <td class="w-50"><a class="text-decoration-none" href="/board/view/<%=result.id%>"><%= result.title%></a></td>
                                    <td><%=new Date(result.date).toLocaleDateString()%></td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a href="/board/write" class="btn btn-primary">글쓰기</a>
                        </div>
                    </div>
                    

                    <p>This is the about page content.</p>
                <% } else if (activeTab === 'contact') { %>
                    <h2>Contact Content</h2>
                    <p>This is the contact page content.</p>
                <% } %>

            </div>

        </div>

    </div>


<%- include("./include/footer") -%>
